$white: #ffffff;
$primary: #F15A21;
$secondary-1: #33658A;
$secondary-2: #F7DBA7;
$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #ffffff;
$dark-background-color: #252b42;
$light-background-color: #ffffff;
$disabled-element-color: #8ec2f2;
$blue-background-color: #8ec2f2;
$hover-color: #2a7cc7;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
$light-gray-1: #fafafa;
$light-gray-2: #ececec;
$muted-color: #bdbdbd;
