body {
  background-color: $dark-background-color;
  /*Navbar*/
  .navbar-wrapper {
    background-color: $dark-background-color;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      background-color: transparent;
    }
    .navbar {
      max-width: 1322px;
      margin: 0 auto;
      color: $light-text-color;
      padding: 23px 35px;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 19px;
        padding-bottom: 20px;
      }
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar__logo {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }
        @media (min-width: 768px) {
          .navbar__menu-btn {
            display: none;
          }
        }
      }
      ul.navbar__links.active {
        display: block;
        visibility: visible;
        opacity: 1;
      }
      ul.navbar__links {
        margin: 83px 0 98px;
        display: none;
        text-align: center;
        @media (min-width: 768px) {
          display: flex;
          margin: 0;
          align-items: center;
          gap: 21px;
        }
        li {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 45px;
          letter-spacing: 0.2px;
          margin-bottom: 30px;
          @media (min-width: 768px) {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }
    div.navbar__buttons {
      display: none;
      a {
        color: $white;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        margin-right: 45px;
        text-decoration: none;
      }
      button {
        color: $white;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        background-color: $primary;
        border-radius: 5px;
        border: none;
        padding: 15px 25px;
      }
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  /*Hero*/
  .hero {
    .container {
      max-width: 1440px !important;
      margin: 0 auto;
    }
    padding: 160px 50px 7px;
    color: $white;
    text-align: center;
    background-image: url("../images/hero-background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      text-align: start;
      padding: 202px 50px;
    }
    @media (min-width: 1440px) {
      padding: 202px 195px;
    }
    h1 {
      margin-bottom: 40px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      @media (min-width: 768px) {
        max-width: 599px;
        margin-bottom: 35px;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
      }
    }
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      /* or 150% */
      letter-spacing: 0.2px;
      color: $light-text-color;
      @media (min-width: 768px) {
        max-width: 376px;
      }
    }

    .hero__buttons {
      margin: 40px auto 0;
      @media (min-width: 769px) {
        margin: 35px auto 0;
      }
      button:first-child {
        height: 42px;
        color: $white;
        background: $primary;
        border-radius: 37px;
        border: none;
        padding: 10px 36px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        text-align: center;
        letter-spacing: 0.2px;
        margin-bottom: 35px;
        @media (min-width: 440px) {
          margin-right: 10px;
        }
      }
      button:nth-child(2) {
        width: 154px;
        height: 42px;
        color: $primary;
        background-color: transparent;
        border: 1px solid $primary;
        border-radius: 37px;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        text-align: center;
        letter-spacing: 0.2px;
        color: $primary;
      }
    }
  }
}
.teste {
  opacity: 0;
  visibility: hidden;
}
.teste.active {
  visibility: visible;
  transition: all 3s;
  opacity: 1;
}
