.contact {
    font-family: "Montserrat";
    font-style: normal;

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
    }
    background-color: #fff;
    @media (min-width: 768px) {
        background-image: url("../assets/contact-background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    .contact-desktop {
        display: none;
        padding: 90px 6vw 50px;
        @media (min-width: 768px) {
            display: block;
        }
        @media (min-width: 810px) {
            padding: 90px 8vw 50px;
        }
        @media (min-width: 11440px) {
            padding: 90px 195px 50px;
        }

        h5 {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $text-color;
        }
        h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: $text-color;
        }

        form.contact-desktop__form.form {
            margin-top: 40px;
            .col-auto {
                max-width: 296px;
                width: 100%;
                padding: 0;
            }
            .col-auto:nth-child(2) {
                max-width: 285px !important;
            }

            .form-row:first-child,
            .form-row:nth-child(2) {
                gap: 20px;
                margin-bottom: 20px;
            }

            textarea {
                max-width: 601px !important;
                height: 140px;
            }

            button.form-desktop__button {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #fff;
                background: $primary;
                border: none;
                border-radius: 5px;
                padding: 15px 40px;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            textarea.form-control,
            input.form-control,
            select.custom-select {
                background: #f9f9f9;
                border: 1px solid #e6e6e6;
                box-sizing: border-box;
                border-radius: 5px;
                cursor: pointer;
            }
            input.form-control,
            select.custom-select {
                height: 50px;
            }
        }
    }

    .contact-mobile {
        padding: 40px 30px 0;
        p {
            padding-right: 48px;
        }
        @media (min-width: 768px) {
            display: none;
        }
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.1px;
            color: $text-color;
            margin-bottom: 10px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $text-color;
        }

        button.contact-mobile__button {
            margin-top: 50px;
            margin-bottom: 40px;
            border: none;
            background: #23a6f0;
            border-radius: 5px;
            padding: 15px 40px;

            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #ffffff;
        }
        .form-mobile {
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $text-color;
            }
            > * {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 14px;
            }

            > p:first-child {
                margin-bottom: 20px;
            }

            > *:last-child {
                margin-bottom: 0;
            }

            textarea.form-control,
            input.form-control {
                background: #f9f9f9;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                cursor: pointer;
            }
            select.custom-select {
                background: #f9f9f9
                    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
                    right 0.75rem center/8px 10px no-repeat;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
            }
            .form-mobile__button {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.2px;
                color: #ffffff;

                background: #23a6f0;
                border-radius: 5px;
                border: none;
                padding: 15px 40px;
            }
        }
    }
}
