.content {
  color: $light-text-color;
  padding: 75px 0 97px;
  font-family: "Montserrat";
  .container {
    padding: 0 17px;
    @media (min-width: 768px) {
      padding: 0;
    }

    max-width: 1440px !important;
    margin: 0 auto;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      max-width: 262px;
      @media (min-width: 768px) {
        max-width: 470px;
      }
    }
    .content__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(auto, 331px));
      gap: 30px;
      margin-top: 60px;
      @media (min-width: 768px) {
        margin-top: 96px;
      }
      justify-content: center;
      .card {
        width: 100%;
        height: 452px;
        position: relative;
        box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.4);
        overflow: hidden;
        &:first-of-type {
          background-image: url("../assets/content-card-1.webp");
        }
        &:nth-child(2) {
          background-image: url("../assets/content-card-2.webp");
        }
        &:nth-child(3) {
          background-image: url("../assets/content-card-3.webp");
        }
        &:last-of-type {
          background-image: url("../assets/content-card-4.webp");
        }
        &__img {
          width: 100%;
          height: 100%;
          filter: grayscale(50%);
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__body {
          position: absolute;
          bottom: 31px;
          left: 27px;

          @media (min-width: 1280px) {
            bottom: 18px;
            left: 20px;
          }
          p.card__title {
            text-align: start;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
          }
          p.card__description {
            text-align: start;
            margin-top: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: $light-text-color;
            text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.24);
          }
          button {
            margin-top: 15px;
            padding: 10px 36px;
            width: 165px;
            height: 42px;
            background: $primary;
            border-radius: 37px;
            border: none;
            color: $light-text-color;
            cursor: pointer;
            font-weight: 700;
            font-family: "Montserrat";
          }
        }
      }
    }
  }
}
