.hero {
  /*navbar height*/
  padding-top: 91px;
  .container {
    max-width: 1440px !important;
    margin: 0 auto;
  }

  // padding: 160px 50px 7px;
  color: $white;
  text-align: center;
  background-image: url("../assets/hero-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    text-align: start;
  }

  .hero__content {
    padding: 80px 50px 7px;
    @media (min-width: 768px) {
      padding: 125px 50px;
    }
    @media (min-width: 1440px) {
      padding: 125px 195px 112px;
    }
  }
  h1 {
    margin-bottom: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    @media (min-width: 768px) {
      max-width: 599px;
      margin-bottom: 35px;
      font-weight: 800;
      font-size: 58px;
      line-height: 80px;
    }
  }
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.2px;
    color: $light-text-color;
    @media (min-width: 768px) {
      max-width: 376px;
    }
  }

  .hero__buttons {
    margin: 40px auto 0;
    @media (min-width: 769px) {
      margin: 35px auto 0;
    }
    button {
      cursor: pointer;
    }
    button:first-child {
      height: 42px;
      color: $white;
      background: $primary;
      border-radius: 37px;
      border: none;
      padding: 10px 36px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.2px;
      margin-bottom: 35px;
      transition: background-color 200ms ease-in-out;
      &:hover {
        background-color: $hover-color;
      }
      @media (min-width: 461px) {
        margin-right: 10px;
      }
      @media (min-width: 768px) {
        padding: 15px 36px;
        height: 52px;
      }
    }
    button:nth-child(2) {
      width: 159px;
      height: 42px;
      color: $primary;
      background-color: transparent;
      border: 1px solid $light-text-color;
      color: $light-text-color;
      border-radius: 37px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.2px;
      transition: all 200ms ease-in-out;
      &:hover {
        background-color: $hover-color;
        border: 1px solid $hover-color;
      }
      @media (min-width: 768px) {
        padding: 15px 36px;
        height: 52px;
      }
    }
  }
}
