.navbar-wrapper {
  z-index: 99;
  background-color: $dark-background-color;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
  @media (min-width: 768px) {
    background-color: transparent;
    &.scrolling {
      background-color: $dark-background-color;
      .navbar {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
  .navbar {
    max-width: 1322px;
    margin: 0 auto;
    color: $light-text-color;
    padding: 23px 35px;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 19px;
      padding-bottom: 20px;
    }
    &__header {
      width: 100%;
      @media (min-width: 768px) {
        width: auto;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar__logo {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        transition: color 200ms ease-in-out;
        &:hover {
          color: $hover-color;
        }
      }
      @media (min-width: 768px) {
        .navbar__menu-btn {
          display: none;
        }
      }
    }
    ul.navbar__links.active {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    ul.navbar__links {
      margin: 83px auto 98px;
      display: none;
      text-align: center;
      @media (min-width: 768px) {
        display: flex;
        margin: 0;
        align-items: center;
        gap: 21px;
      }
      li {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.2px;
        margin-bottom: 30px;
        a {
          position: relative;
          color: $light-text-color;
          text-decoration: none;
          &::after {
            content: "";
            position: absolute;
            top: 22px;
            left: 50%;
            width: 0;
            height: 2px;
            background: $light-text-color;
            transition: all 200ms ease-in-out;
            @media (max-width: 768px) {
              top: 36px;
            }
          }

          &:hover::after {
            left: 0;
            width: 100%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
        @media (min-width: 768px) {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          margin: 0;
        }
      }
    }
  }
  div.navbar__buttons {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    a {
      color: $white;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      margin-right: 10px;
      text-decoration: none;
      transition: all 0.2s;
      display: inline-block;
      position: relative;
      @media (min-width: 1280px) {
        margin-right: 45px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 22px;
        left: 50%;
        width: 0;
        height: 2px;
        background: $light-text-color;
        transition: all 200ms ease-in-out;
      }

      &:hover::after {
        left: 0;
        width: 100%;
      }
    }
    button {
      cursor: pointer;
      color: $white;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.2px;
      background-color: $primary;
      border-radius: 5px;
      border: none;
      padding: 15px 20px;
      transition: background-color 200ms ease-in-out;
      &:hover {
        background-color: $hover-color;
      }
      @media (min-width: 820px) {
        font-size: 14px;
        padding: 15px 25px;
      }
    }
  }
}
