.pricing {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 42px;
  }
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $text-color;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-weight: 700;
    }
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $text-color;
    @media (min-width: 768px) {
      font-weight: 500;
      max-width: 470px;
      margin: 0 auto;
    }
  }
  .pricing__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 337px));
    justify-content: center;
    gap: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 56px;
    margin-top: 60px;
    margin-bottom: 154px;
    @media (min-width: 768xpx) {
      margin-top: 106px;
      margin-bottom: 141px;
    }
  }
  .pricing__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px 39px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    h2 {
      margin-bottom: 0;
    }
    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $text-color;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    h3 + h5 {
      max-width: 160px;
    }

    h5 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700; 
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1px;
      color: $second-text-color;
      margin-bottom: 35px;
    }

    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: $primary;
    }
    .pricing__card {
      display: none;
      @media (min-width: 769px) {
        display: block;
      }
    }

    .pricing__card {
      button {
        margin-bottom: 35px !important;
      }
    }

    .pricing__card__body {
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: $primary;
      }

      h5 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #8ec2f2;
      }
      ul {
        position: relative;
        li {
          height: 32px;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 15px;
          font-size: 12px;
          @media (min-width: 375px) {
            font-size: 14px;
          }
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.2px;
          color: #252b42;
          &:last-child {
            margin-bottom: 0;
          }
          // &:nth-last-child(2),
          // &:nth-last-child(1) {
          //   img {
          //     background-color: $muted-color;
          //   }
          // }
          img {
            background: $success-color;
            padding: 10px 8px 11px;
            border-radius: 200px;
          }
        }
      }
      button {
        cursor: pointer;
        border-radius: 5px;
        background-color: $primary;
        border: none;
        padding: 15px 0;
        max-width: 246px;
        width: 100%;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
        margin: 0 auto 35px;
        display: block;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
  .pricing__card:nth-child(even)::after {
    content: "Novo!";
    background-color: $alert-color;
    padding: 29px 17px;
    position: absolute;
    top: -26px;
    right: 16px;
    border-radius: 52px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $white;
  }
  .pricing__card:nth-child(even) {
    h3 {
      text-transform: capitalize;
    }
  }
}
